.header {
  margin-top: 1rem;
  margin-left: auto;
  margin-left: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  font-size: 2rem;
  color: white;
  background-image: url("../../images/logo-little.png");
  background-size: cover;
  width: 4rem;
  height: 4rem;
  opacity: 0.8;

  
  width: 100%;
  height: 5rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  opacity: 0.9;
}

.cart {
  margin-left: auto; 
  margin-right: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  font-weight: bold;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #449b98;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #aed3d2;
}
