.list {
  list-style: none;
  margin: 0;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #4ec0bc;
  color: rgb(49, 49, 49);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  animation: packs-appear 1s ease-out forwards;
}

@keyframes packs-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}
