.list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  max-width: 60rem;
  position: relative;
  background-color: rgb(104, 255, 250);
  color: rgb(49, 49, 49);
  border-radius: 5px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10rem;
  animation: packs-appear 1s ease-out forwards;
}

.title {
  font-size: 1.5rem;
  padding: 1rem 0;
}

@keyframes packs-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .list {
    padding: 1rem;
    margin: auto;
  }
}

@media (max-width: 576px) {
  div.columna {
    padding: 0;
  }

  .list {
    background-color: rgb(82, 209, 205);
  }
}